$black: #1e1e1e;
$gray: #E5E5E5;

.wrapper {
    margin: 0 auto;
    padding: 2em 20px;
    max-width: 1200px;
    background-color: $gray;
    border-right: 1.5em solid $black;
}

.margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal {
    display: flex;
    align-items: center;
}