@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$black: #1e1e1e;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $black;
    font-family: 'Playfair Display', serif;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {

    ul {
        display: flex;
    }

    li a {
        padding: 0 1.5em;
        font-size: 0.9em;
        font-weight: 700;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.my-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.my-4 {
    margin-top: 4em;
    margin-bottom: 4em;
}

.my-5 {
    margin-top: 5em;
    margin-bottom: 5em;
}

.mp-20 {
    padding: 0 20px;
}

.title {
    font-size: 2em;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 0.3em;
}

.subtitle {
    font-size: 1em;
}

@media (min-width: 768px) {

    .title {
        font-size: 2.5em;
    }

}



/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 2em;
    color: #abb2bf;
    background: #282c34;
    border-radius: 5px;
    line-height: 1.8em;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}